.relative-red {
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    left: 200px;
  }
  
.relative-blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    right: 100px;
}
  
.relative-yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    right: 100px;
}

body {
    margin: 0
}

.absolute-red {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
}

.absolute-blue {
      background-color: blue;
      width: 100px;
      height: 100px;
      position: absolute;
      left: 100px;
      top: 100px;
}

.absolute-yellow {
      background-color: yellow;
      width: 100px;
      height: 100px;
      position: absolute;
}
